<script setup lang="ts">
// const logout = async () => {
//   await account.deleteSession('current');
// };

</script>


<template>
  <div>
    <!-- <button type="button" @click="logout">
      Logout
    </button> -->
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>