<script setup lang="ts">

const { meeting, index } = defineProps<{
    meeting: any
    index: number
}>()
</script>

<template>
    <article class="bg-gray-800 p-4 rounded-2xl">
        <div class="font-Titillium text-red-500 mb-2">Round {{ index + 1 }}</div>
        <header class="flex justify-between">
            <div class="font-F1Wide">
                <div class="text-sm">
                    {{ `${meeting.startDate} - ${meeting.endDate}` }}
                </div>
                <div class="text-xs bg-white text-gray-800 px-1 rounded inline-block">
                    {{ meeting.month }}
                </div>
            </div>
            <div>
                <NuxtImg :src="meeting.flag" class="w-12 rounded" />
            </div>

        </header>
        <hr class="border-gray-700 my-4" />
        <h2 class="font-F1">
            <div class="flex items-center text-lg font-bold">{{ meeting.place }}
                <UIcon name="i-lucide-chevron-right" dynamic class="text-xl text-red-500" />
            </div>
            <div class="text-xs text-gray-400">{{ meeting.title }}</div>
        </h2>
        <hr class="border-gray-700 my-4" />
        <div class="flex justify-center p-4 opacity-20">
            <NuxtImg :src="meeting.img" class="h-24" />
        </div>

    </article>
</template>