@font-face {
    font-family: 'F1';
    src: url('/fonts/Formula1-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F1';
    src: url('/fonts/Formula1-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'F1';
    src: url('/fonts/Formula1-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F1';
    src: url('/fonts/Formula1-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F1Wide';
    src: url('/fonts/Formula1-Wide.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('/fonts/titillium-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('/fonts/titillium-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}