<script setup lang="ts">
import { z } from 'zod';
import type { Models } from 'appwrite';
const router = useRouter();

let user: Models.User<Models.Preferences> | null = null;
try {
    user = await account.get()
    if (user !== null) {
        router.push('/')
    }
} catch (e) {
    console.log(e)
}

const url = useRequestURL();

const secret = url.searchParams.get('secret');
const userId = url.searchParams.get('userId');

if (userId !== null && secret !== null) {
    await account.updateMagicURLSession(userId, secret);
}

const schema = z.object({
    email: z.string().email('Invalid email'),
})

type Schema = z.output<typeof schema>

const state = reactive({
    email: '',
})

const isLoading = ref(false)

const { execute, status } = await useAsyncData('post-login-email', () => account.createMagicURLSession(ID.unique(), state.email, 'http://localhost:3000/login'), {
    immediate: false,
})

async function onSubmit() {
    execute()
}

</script>
<template>
    <div class="h-dvh flex items-center justify-center">
        <!-- {{ user }} -->
        <UForm :schema="schema" :state="state" class="space-y-4" @submit="onSubmit">
            <h1 class="text-6xl text-center">Coco Prono</h1>
            <UFormGroup name="email">
                <UInput type="email" v-model="state.email" placeholder="Email" />
            </UFormGroup>

            <UButton type="submit" block :loading="status === 'pending'" :disabled="status === 'success'">
                <template v-if="status === 'idle'">
                    Login
                </template>
                <template #leading v-if="status === 'idle'">
                    <UIcon name="i-lucide-user" dynamic />
                </template>

                <template v-if="status === 'pending'">
                    Sending login email...
                </template>

                <template v-if="status === 'success'">
                    Check your email
                </template>
                <template #leading v-if="status === 'success'">
                    <UIcon name="i-lucide-mail-check" dynamic />
                </template>
            </UButton>
        </UForm>
    </div>
</template>