<script setup lang="ts">
const { data: meetings } = await useFetch('/api/meeting')
</script>
<template>
    <div class="p-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <MeetingCard v-for="meeting, index in meetings" :meeting="meeting" :index="index" />
    </div>

    <pre class="max-w-full overflow-auto">{{ meetings }}</pre>
</template>
